h1 {
  font-size: 80px;
}

.red:hover {
  color: red;
}

.blue:hover {
  color: blue;
}

input:focus {
  border: 1px solid #07682c;
  outline: 0;
}

button:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
